
#content-wrapper {

  padding: 1em;

  h1 {
    font-size: 2em;
    text-align: center;
    font-family: Gruppo, cursive;
    text-transform: uppercase;
  }
  p {
    text-align: center;
  }
}


section.about-me {
  p {
    text-align: center;
  }
}


@skype-brand-color: #12A5F4;
@gmail-brand-color: #db4437;
@whatsapp-brand-color: #43d854;

#contact-bar {
  .co {
    height: 0;
    opacity: 0;
    .transition(opacity .5s ease);
  }



  &[data-co-selected='skype'] {

    #contact-bar-icons {
      border-bottom: 1px solid @skype-brand-color;
    }

    .co.co-skype {
      height: auto;
      opacity: 1;
      .transition(opacity .5s ease);
    }

    .icon[data-co-select='skype'] {
      .transform(scale(1.5));
      color: @skype-brand-color;

      &:after {
        display: block;
        background: @skype-brand-color;
      }
    }


  }

  &[data-co-selected='email'] {

    #contact-bar-icons {
      border-bottom: 1px solid @gmail-brand-color;
    }

    .co.co-email {
      height: auto;
      opacity: 1;
      .transition(opacity .5s ease);
    }

    .icon[data-co-select='email'] {
      .transform(scale(1.5));
      color: @gmail-brand-color;

      &:after {
        display: block;
        background: @gmail-brand-color;
      }
    }

  }

  &[data-co-selected='phone'] {

    #contact-bar-icons {
      border-bottom: 1px solid @whatsapp-brand-color;
    }

    .co.co-phone {
      height: auto;
      opacity: 1;
      .transition(opacity .5s ease);
    }

    .icon[data-co-select='phone'] {
      .transform(scale(1.5));
      color: @whatsapp-brand-color;

      &:after {
        display: block;
        background: @whatsapp-brand-color;
      }
    }

  }
}

#contact-bar-icons {
  .flex-display();
  .flex-direction(row);
  .justify-content(space-around);

  padding: 2em 0;
  overflow: hidden;

  a {
    .flex-grow(1);
    text-align: center;
    padding: 1em 0;
    height: 100%;

    text-decoration: none;
    color: #ccc;
    cursor: pointer;
  }

  .icon {
    font-size: 2em;
    position: relative;

  }

  // line under the icon
  .icon:after {
    content: " ";
    display: none;
    background: #ccc;
    width: 2px;
    position: absolute;
    top: 90%;
    left: 50%;
    height: 2em;
  }
}

#contact-bar-options {

  .flex-display();
  .flex-direction(column);

  a {
    text-decoration: none;
    color: #ccc;
    display: block;
    width: 100%;
  }

  .icon {
    font-size: 2em;
  }

  .co-head {
    text-align: center;
    padding: 2em 0;
  }
  .co-opts {
    .flex-display();
    .flex-direction(row);
    .justify-content(space-around);
    text-align: center;
    padding: 1em 0;
  }

}






section.career {
  .career-card {
    border: 1px solid #ccc;
    .border-radius(1em);


    overflow: hidden;

    .header {
      background: #ccc;
      color: black;
      padding: 5px;
    }

    .body {

      padding: 5px;
    }

  }
}