doctype html
html(lang='en')
  head
    title Alessio Scalici - Web developer - Software engineer
    link(href='vendor/icomoon/style.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
    meta(charset='utf8')
    meta(viewport='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
  body

    #top-bar
      button#hamburger.icon.icon-menu

    #page-wrapper
      #menu-token

        .rt-track#track-about-me
          .rt-token-out ABOUT ME
            .aboutme-icon
          .rt-spot ABOUT ME
            .aboutme-icon
            .rt-token-in.topic-aboutme ABOUT ME
              .aboutme-icon

        //.rt-track#track-career
          .rt-token-out CAREER
            span.icon.icon-hammer
          .rt-spot CAREER
            span.icon.icon-hammer
            .rt-token-in.topic-career CAREER
              span.icon.icon-hammer

        //.rt-track#track-contacts
          .rt-token-out CONTACTS
            span.icon.icon-address-book
          .rt-spot CONTACTS
            span.icon.icon-address-book
            .rt-token-in.topic-contacts CONTACTS
              span.icon.icon-address-book

      #content-wrapper
        .menu-placeholder
        .content
          section.about-me
            .anchor#about-me
            h1
              .aboutme-icon
              | Alessio Scalici

            p Passionate sotftware engineer and web developer.

            #contact-bar
              #contact-bar-icons
                a(href='https://github.com/alessioscalici' target='_blank')
                  .icon.icon-github
                a(href='https://ie.linkedin.com/in/alessioscalici' target='_blank')
                  .icon.icon-linkedin
                .icon.icon-skype(data-co-select='skype')
                .icon.icon-envelop(data-co-select='email')
                .icon.icon-phone(data-co-select='phone')
              #contact-bar-options.hidden
                .co.co-skype
                  .co-head alessioscalici
                  .co-opts
                    a(href='skype:alessioscalici?add')
                      .icon.icon-plus
                      span Add contact
                    a(href='skype:alessioscalici?call')
                      .icon.icon-phone
                      span Call
                    a(href='skype:alessioscalici?chat')
                      .icon.icon-envelop
                      span Message
                .co.co-phone
                  .co-head +353 831671040 (Ireland)
                  .co-opts
                    a(href='tel:+353831671040')
                      .icon.icon-phone
                      span Call
                    a(href='sms://+353831671040?body=Hi%20Alessio, ')
                      .icon.icon-envelop
                      span SMS
                  .co-head +39 3488860309 (Italy)
                  .co-opts
                    a(href='tel:+393488860309')
                      .icon.icon-phone
                      span Call
                    a(href='sms://+393488860309?body=Hi%20Alessio, ')
                      .icon.icon-envelop
                      span SMS
                .co.co-email
                  .co-head alessio.scalici@gmail.com
                  .co-opts
                    a(href='mailto:alessio.scalici@gmail.com?subject:Hi Alessio')
                      .icon.icon-envelop
                      span Send an email


          //section.career
            .anchor#career
            h1 Career
            .career-card
              .header
                .title Lead UI/UX Engineer
                .company Edudoc ltd
                .location Dublin (Ireland)
                .date-from 04-2015
                .date.to NOW
              .body
                ul.duties
                  li Designed  Angular web client architecture
                  li Led and mentored a 5 people front-end development team
                  li Ensured the project followed best practices through code review
                ul.achievements
                  li Delivered the version 1 of the web client meeting the deadline
                  li Automated translation optimization, allowing the team to save time
                ul.technologies
                  li AngularJS
                  li Bootstrap
                  li SASS
                  li CSS 3
                  li HTML 5
                  li Jasmine
                  li Karma
                  li Protractor
                  li GIT
                  li Gulp
                  li NodeJS
                  li JIRA
                  li Sublime text editor
                  li Chrome Dev tools




  script(src='vendor/jquery/dist/jquery.min.js')
  script(src='js/app.js')
