doctype html
html(lang='en')
  head
    title Alessio Scalici - Web developer - Software engineer
    link(href='vendor/icomoon/style.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
    meta(charset='utf8')
    meta(viewport='width=device-width, initial-scale=1')

    link(rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
  body

    //#top-bar
      button#hamburger.icon.icon-menu

    #page-wrapper
      #menu-token

        mixin rt-track(name, icon, text)
          .rt-track(id!='track-'+name)
            .rt-token.rt-token-out
              .icon(class!=icon)
              div= text
            .rt-token.rt-spot
              .icon(class!=icon)
              div= text
              .rt-token.rt-token-in.topic-aboutme
                .icon(class!=icon)
                div= text

        //+rt-track('about-me', 'icon-aboutme', 'Contact me')
        //+rt-track('projects', 'icon-lab', 'Projects')





      #content-wrapper
        .menu-placeholder
        .content
          section.about-me
            .anchor#about-me
            h1
              .icon-aboutme
              | Alessio Scalici

            p Passionate sotftware engineer and web developer.

            #contact-bar
              #contact-bar-icons
                a(href='https://github.com/alessioscalici' target='_blank')
                  .icon.icon-github
                a(href='https://ie.linkedin.com/in/alessioscalici' target='_blank')
                  .icon.icon-linkedin
                a
                  .icon.icon-skype(data-co-select='skype')
                a
                  .icon.icon-envelop(data-co-select='email')
                a
                  .icon.icon-phone(data-co-select='phone')
              #contact-bar-options.hidden
                .co.co-skype
                  .co-head alessioscalici
                  .co-opts
                    a(href='skype:alessioscalici?add')
                      .icon.icon-plus
                      span Add contact
                    a(href='skype:alessioscalici?call')
                      .icon.icon-phone
                      span Call
                    a(href='skype:alessioscalici?chat')
                      .icon.icon-envelop
                      span Message
                .co.co-phone
                  .co-head +353 831671040 (Ireland)
                  .co-opts
                    a(href='tel:+353831671040')
                      .icon.icon-phone
                      span Call
                    a(href='sms://+353831671040?body=Hi%20Alessio, ')
                      .icon.icon-envelop
                      span SMS
                  .co-head +39 3488860309 (Italy)
                  .co-opts
                    a(href='tel:+393488860309')
                      .icon.icon-phone
                      span Call
                    a(href='sms://+393488860309?body=Hi%20Alessio, ')
                      .icon.icon-envelop
                      span SMS
                .co.co-email
                  .co-head alessio.scalici@gmail.com
                  .co-opts
                    a(href='mailto:alessio.scalici@gmail.com?subject:Hi Alessio')
                      .icon.icon-envelop
                      span Send an email

          //section.projects
            .anchor#projects
            h1 Projects
            .project-card
              .project-name ptq-js
              a.project-link(href='ptq-js') ptq-js




  script(src='vendor/jquery/dist/jquery.min.js')
  script(src='js/app.js')
